body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 23px;
}

nav {
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav ul .right-icons {
  margin-left: auto;
}

nav ul .right-icons li {
  margin-left: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}


#quien-soy .title, #estudios .title, #experiencia .title {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 1px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

#quien-soy .content-wrapper {
  display: flex;
  justify-content: space-between;
}

#quien-soy .text {
  width: 65%; /* Ancho del div de texto */
  padding: 10px;
}

#quien-soy .image {
  width: 30%; /* Ancho del div de imagen */
}

#quien-soy .image img {
  max-width: 40%; /* Asegura que la imagen no sobrepase el tamaño de su contenedor */
  height: auto;
  border: 1px solid black;
}

h1 {
  font-size: 28px;
}

footer {
  background-color: #f8f8f8;
  padding: 1px;
  text-align: center;
}

footer .contact-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer .contact-info p {
  font-size: 20px;
  margin: 0 10px; /* Agrega un margen a izquierda y derecha */
}
