<!DOCTYPE html>
<html>
  <head>
    <title>My curriculum</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="icon" href="../../img/icon.png" type="icono">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#"><i class="fas fa-globe"></i></a></li> <!-- Icono de la bola del mundo -->
        <div class="right-icons">
          <li><a href="#quien-soy"><i class="fas fa-user"></i></a></li>
          <li><a href="#estudios"><i class="fas fa-graduation-cap"></i></a></li>
          <li><a href="#experiencia"><i class="fas fa-briefcase"></i></a></li>
        </div>
      </ul>
    </nav>
    <section id="quien-soy">
      <div class="title">
        <h1>Who I am:</h1>
      </div>
      <div class="content-wrapper">
        <div class="text">
          <p>Let me introduce myself, I'm Jordi, I'm 18 years old, I live in L'Hospitalet del Llobregat, I'm a student at the Joan XIII school.</p>
          <p>
            Hobbies:
            I like to meet my friends and have a good time together. Go out to a party and meet one afternoon to talk over coffee.
            I really value the time I spend with my family. I enjoy doing things together, like going outside, having family meals, watching movies or just talking.
            When I have free time, I love to play video games.            
          </p>
        </div>
        <div class="image">
            <img src="../../img/Jordi.jpeg" alt="Jordi">
        </div>          
      </div>
    </section>
    <section id="estudios">
      <div class="title">
        <h1>Studies:</h1>
      </div>
      <div class="content-wrapper">
        <div class="text">
            <p>
              [2016] - [2020] ESO - Joan XIII <br>
              [2021] - [2022] SMX1 - Joan XIII <br>
              [2022] - [2023] SMX2 - Joan XIII
            </p>
        </div>
          <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3738.628950715649!2d2.1029185446324705!3d41.349980169418934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1sca!2ses!4v1683734391813!5m2!1sca!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            <p>El centro de estudios Joan XIII, ubicado en el distrito de Bellvitge de la ciudad de L'Hospitalet de Llobregat en Cataluña, España, es coeducativo y ofrece educación desde parvulario hasta secundaria, incluyendo cursos profesionales y de oficios. Ha estado administrado por la Compañía de Jesús desde su fundación en 1968.</p>

          </div>
    </section>
    <section id="experiencia">
      <div class="title">
        <h1>Working Information:</h1>
      </div>
      <div class="content-wrapper">
        <div class="text">
          <h1>Job training:</h1>
            <p> Currently, I am studying SMX2, a computer science degree where we deal with operating systems and multiservice networks.
            I have been doing internships in a 3D printing company for which I have been in charge of the shipping and production area, mostly what I did was take care of the machines and make shipments to the companies we worked with (Amazon, Vichy Catala, etc.). Once I completed the internship, they gave me a recommendation thanks to the work I did. Then they called me to take over production in the summer.
            I have also had work experience in a summer campus of a club called RCLH (Rugby Club L'Hospitalet), I spent 3 months as a children's monitor. It was quite a nice experience.
            </p>
        </div>
          <div class="text">
            <h1>Work experience</h1>
            <p>My work experience has been working in a 3D printing company for several months, being the shipping and workshop manager. I also have work experience as a children's monitor, having worked three months of summer on a campus.</p>
          </div>
        </div>
      </section>
          </section>
    <section id="mas-contenido">
      <div class="title">
        <h1>More content:</h1>
      </div>
      <div class="content-wrapper">
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Sicnzamsq5Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="download">
            <a href="https://drive.google.com/file/d/1UZxJkhb15QNqiYyIhBUFRSkD8wcYfNWi/view?usp=sharing" download>Download my CV</a>
        </div>
      </div>
    </section>
    <footer>
      <div class="contact-info">
        <div class="text">
          <p>
            <i class="fas fa-envelope"></i> sorribes05@gmail.com <br>
            <i class="fas fa-phone"></i> +34 123 456 789 <br>
            <i class="fas fa-map-marker-alt"></i> L'Hospitalet del Llobregat
          </p>
        </div>
        <div class="flag-button">
          <a href="../../index.html">
            <img src="../../img/España.png" alt="Bandera" class="flag-image">
          </a>
        </div>
      </div>
    </footer>         
    </body>
  </html>